/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2022/03/13 11:36:41 */
@media (max-width: 1199px) {
  [class~="main_work1_area"] [class~="owl-theme"] [class~="owl-nav"] {
    top: -555pt;
  }
  body {
    font-size: 1rem;
  }
  .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
    right: -1085%;
  }
}
@media (max-width: 991px) {
  .main_events_area .single_events span.separator3 {
    margin-left: 18.75pt;
  }
  .main_events_area .single_events span.separator3 {
    margin-bottom: 0.625pc;
  }
  .main_events_area .single_events span.separator3 {
    margin-right: 18.75pt;
  }
  .main_events_area .single_events span.separator3 {
    margin-top: 0.625pc;
  }
  html {
    font-size: 90%;
  }
  .main_events_area .single_events span.e_text1 {
    margin-left: 3.75pt;
  }
  [class~="main_team_area"]
    [class~="owl-carousel"]
    [class~="owl-controls"]
    [class~="owl-nav"]
    [class~="owl-next"] {
    right: -970%;
  }
  [class~="main_work1_area"] [class~="owl-theme"] [class~="owl-nav"] {
    top: -600px;
  }
}
@media (max-width: 768px) {
  [class~="btn"] {
    padding-left: 0.5em;
  }
  [class~="navbar-default"] [class~="navbar-collapse"],
  [class~="navbar-default"] [class~="navbar-form"] {
    border-left-color: #e7e7e7;
    background-color: white;
}
[class~="single_mixi_portfolio"] img,
  [class~="signle_service_left"] img {
      width: 100%;
    }
    [class~="navbar-default"] [class~="navbar-collapse"],
    [class~="navbar-default"] [class~="navbar-form"] {
      background-color: white;
    border-bottom-color: #e7e7e7;
  }
  [class~="btn"] {
    padding-bottom: 0.5em;
  }
  [class~="work_socail"] a i,
  .contact_socail a i {
    width: 0.3125in;
  }
  [class~="work_socail"] a i,
  .contact_socail a i {
    height: 0.3125in;
  }
  [class~="slider-pro"] h4[class~="sp-layer"] {
    font-size: 3rem;
  }
  html {
    font-size: 100%;
  }
  [class~="navbar-default"] [class~="navbar-form"],
  [class~="navbar-default"] [class~="navbar-collapse"] {
    border-right-color: #e7e7e7;
  }
  [class~="navbar-default"] [class~="navbar-form"],
  [class~="navbar-default"] [class~="navbar-collapse"] {
    border-top-color: #e7e7e7;
  }
  [class~="btn"] {
    padding-right: 0.5em;
  }
  [class~="btn"] {
    padding-top: 0.5em;
  }
  [class~="navbar-default"] [class~="navbar-form"],
  [class~="navbar-default"] [class~="navbar-collapse"] {
    margin-top: 0.552083333in;
  }
  [class~="slider-pro"] p[class~="sp-layer"][class~="right_sp_layer"] {
    padding-top: 10px;
  }
  [class~="navbar-default"] [class~="navbar-form"],
  .menu-scroll .navbar-default .navbar-collapse {
    margin-top: 0.75pc;
  }
  [class~="instagram-thumbnails"] img {
    width: 17%;
  }
  .contact_socail a i,
  [class~="work_socail"] a i {
    line-height: 30px;
  }
  .contact_socail a i {
    margin-left: 3.75pt;
  }
  [class~="owl-theme"] [class~="owl-dots"] {
    margin-top: 20px;
  }
  [class~="main_work1_area"] [class~="main_work1_content"] {
    padding-top: 0pt;
  }
  [class~="instagram-thumbnails"] img {
    display: inline-block;
  }
  [class~="instagram-thumbnails"] img {
    margin-left: 3.75pt;
  }
  [class~="slider-pro"] h4[class~="sp-layer"] {
    line-height: 3rem;
  }
  [class~="main_about_area"] [class~="separator2"],
  [class~="main_work1_content_area"] [class~="separator2"],
  [class~="main_service_area"] [class~="separator2"],
  [class~="main_blog_area"] [class~="separator2"] {
    margin-left: auto;
  }
  [class~="slider-pro"] h4[class~="sp-layer"] {
    margin-left: 0;
  }
  [class~="main_blog_area"] [class~="separator2"],
  .main_work1_content_area,
  [class~="main_service_area"],
  .main_blog_area,
  [class~="main_about_area"] {
    text-align: center;
  }
  [class~="main_service_area"] [class~="separator2"] {
    margin-bottom: 1.25pc;
  }
  [class~="main_service_area"] [class~="separator2"],
  [class~="main_about_area"] [class~="separator2"],
  [class~="main_work1_content_area"] [class~="separator2"],
  [class~="main_blog_area"] [class~="separator2"] {
    margin-right: auto;
  }
  [class~="main_service_area"] [class~="separator2"] {
    margin-top: 1.25pc;
  }
  [class~="signle_service_left"],
  [class~="main_team_area"] [class~="team"] {
    margin-bottom: 40px;
  }
  [class~="main_about_area"] [class~="separator2"],
  [class~="slider-pro"] h4[class~="sp-layer"] {
    margin-bottom: 0;
  }
  [class~="single_contant_left"] {
    padding-left: 15pt;
  }
  [class~="instagram-thumbnails"] img {
    margin-bottom: 3.75pt;
  }
  [class~="main_about_area"] [class~="separator2"],
  [class~="slider-pro"] h4[class~="sp-layer"] {
    margin-top: 0;
  }
  [class~="single_contant_left"] {
    padding-bottom: 0px;
  }
  [class~="slider-pro"] h4[class~="sp-layer"] {
    margin-right: 0;
  }
  [class~="single_contant_left"] {
    padding-right: 15pt;
  }
  [class~="single_contant_left"] {
    padding-top: 0px;
  }
  [class~="instagram-thumbnails"] img {
    margin-right: 3.75pt;
  }
  [class~="main_work1_content_area"] [class~="separator2"],
  [class~="main_blog_area"] [class~="separator2"] {
    margin-bottom: 1.25pc;
  }
  [class~="main_blog_area"] [class~="separator2"],
  [class~="main_work1_content_area"] [class~="separator2"] {
    margin-top: 1.25pc;
  }
  [class~="instagram-thumbnails"] img {
    margin-top: 3.75pt;
  }
  [class~="single_counter_right"] {
    margin-bottom: 1.875pc;
  }
  [class~="main_events_area"]
    [class~="single_events"][class~="events_btn"]
    [class~="btn"] {
    margin-top: 22.5pt;
  }
  [class~="work_socail"] a i {
    margin-right: 5px;
  }
  [class~="slider-pro"] p[class~="sp-layer"] {
    font-size: 1.325rem;
  }
  [class~="main_work1_area"] [class~="owl-theme"] [class~="owl-nav"] {
    display: none;
  }
  [class~="slider-pro"] p[class~="sp-layer"] {
    line-height: 1.5rem;
  }
  [class~="single_service"] {
    min-height: 380px;
  }
  .single_work_overlay {
    padding-top: 35%;
  }
  [class~="slider-pro"] p[class~="sp-layer"] {
    padding-top: 10px;
  }
  h4 {
    font-size: 2rem;
  }
}
@media (max-width: 479px) {
  [class~="main_events_area"]
    [class~="single_events"]
    span[class~="separator3"] {
    margin-left: 11.25pt;
  }
  [class~="instagram-thumbnails"] img {
    width: 15%;
  }
  [class~="main_events_area"]
    [class~="single_events"]
    span[class~="separator3"] {
    margin-bottom: 7.5pt;
  }
  [class~="single_left_text"] [class~="separator"][class~="sp-layer"] {
    display: none;
  }
  html {
    font-size: 100%;
  }
  [class~="main_events_area"]
    [class~="single_events"]
    span[class~="separator3"] {
    margin-right: 11.25pt;
  }
  [class~="main_events_area"]
    [class~="single_events"]
    span[class~="separator3"] {
    margin-top: 7.5pt;
  }
  [class~="instagram-thumbnails"] img {
    display: inline-block;
  }
  [class~="main_events_area"] [class~="single_events"] span[class~="e_price"] {
    font-size: 2rem;
  }
  [class~="main_events_area"] [class~="single_events"] span[class~="e_text1"] {
    margin-left: 0.3125pc;
  }
  [class~="single_work_overlay"] {
    padding-top: 25%;
  }
}
@media (max-width: 320px) {
  [class~="instagram-thumbnails"] img {
    width: 14%;
  }
  .single_work_overlay {
    padding-top: 15%;
  }
  [class~="instagram-thumbnails"] img {
    display: inline-block;
  }
  html {
    font-size: 90%;
  }
}
@media (max-width: 850px) {
  [class~="main_team_area"]
    [class~="owl-carousel"]
    [class~="owl-controls"]
    [class~="owl-nav"]
    [class~="owl-next"] {
    right: -970%;
  }
  [class~="main_team_area"] [class~="owl-theme"] [class~="owl-nav"] {
    display: none;
  }
}
